{% extends 'base.html' %}

{% block title %}
Add Pet
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-3 text-center">Add New Pet</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="POST">
                {{form.hidden_tag()}}
                {% for field in form
                if field.widget.input_type != 'hidden' %}
                <tr>
                    {% if field.type != "BooleanField" %}
                    <td>{{ field.label }}</td>
                    <td>{{ field (class_="form-control") }}</td>
                    {% endif %}
                </tr>
                {% endfor %}

                <div>
                    <button class="btn btn-success">Save</button>
                    <a href="/" class="btn btn-outline-dark">Go Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}